* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-repeat:  no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin:0px;
}
iframe {
    width: 100px;
    height: 40px;
    margin-left: 740px;
}
.container {
	max-width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}
.container img {
	width: 100%;
	height: auto;
	text-align: center;
}
.quest{
    width: 50%;
    height: auto;
    position: absolute;
    font-size: 20px;
    margin: 0 auto;
    border: 3px solid rgba(255, 255, 255, 0.568);
    text-align: center;
    background-color: #ff000066;
    color: white;
    margin-top: -50%;
}
.quest button {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
}
.request{
    width: 235px;
    height: 70px;
    text-align: left;
    margin: 5px 5px ;
    background-color: #0000ff69;
    color: white;
    font-size: 20px;
    border:none;
    text-decoration-style: double;
}
.request:active{
    background-color: #ff3300;
}
button:focus {outline:0;}
.dapan {
	margin-left: 23%;
	width: auto;
	height: 40%;
	margin-top: 30px;
}
.re {
	width: 40px;
	height: 40px;
	background-color: #ffffff66;
	position: absolute;
}