* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	width: 100%;
	height: 2400px;
	margin: auto;
}
.baitap1 {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-top: 22px;
}
.baitap1 h1 {
	text-align: center;
}
.bt1 {
	width: 150px;
	height: 60px;
	margin: auto;
	margin-top: 40px;
	border-radius: 10px;
}
.bt1 button {
	width: 100%;
	height: 100%;
	background-color: #4083b2;
	color: white;
	transition: all 0.7s ease;
}
.bt1 button:hover {
	background-color: green;
	color: white;
	border-radius: 40px;
	transition: all 0.7s ease;
}
.baitap2 {
	width: 100%;
	height: 745px;
	border: 1px solid black;
	margin-top: 150px;
	position: relative;
}
.baitap2 h1 {
	text-align: center;
}
.bt2 {
	width: 33.33333%;
	height: 31.7%;
	border: 1px solid #ddd;
	float: left;
}
.bt2 img {
	width: 100%;
	height: 100%;
	padding: 5px;
	transition: all 0.5s linear;
}
.bt2:hover img {
	transform: scale(1.4);
	border: 1px solid #ddd;
	padding: 5px;
}
.baitap3 {
	width: 80%;
	height: 500px;
	margin: auto;
	border: 1px solid black;
	margin-top: 80px;

}
.baitap3 h1 {
	text-align: center;
}
.khungdap {
	width: 65%;
	height: 70%;
	margin: auto;
	margin-top: 50px;
	animation: khungdap 1.5s ease infinite;
}
.khungdap img {
	width: 100%;
	height: 100%;
}
@keyframes khungdap {
	0% {
		transform: scale(1.3);
	}
	10% {
		transform: scale(1.4);
	}
	20% {
		transform: scale(1.3);
	}
	30% {
		transform: scale(1.4);
	}
	40% {
		transform: scale(1.3);
	}
	50% {
		transform: scale(1.4);
	}
	60% {
		transform: scale(1.3);
	}
	70% {
		transform: scale(1.4);
	}
	80% {
		transform: scale(1.3);
	}
	90% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1.3);
	}
}

.baitap4 {
	margin: auto;
	margin-top: 120px;
	width: 100%;
	height: 500px;
	border: 1px solid black;
}
.baitap4 h1 {
	text-align: center;
}
@keyframes fade {
	0% {
		transform: translate(600px, 0);
		opacity: 0;
	}
	50% {
		transform: translate(300px, 0);
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		opacity: 0;
	}
}
.icon {
	font-size: 20px;
	font-weight: bold;
	color: #8E0B00;
	animation: fade 8s ease infinite;
	margin-top: 200px;
}

.baitaptest {
	width: 100%;
	height: 800px;
	border: 1px solid black;
	margin-top: 150px;
	margin-bottom: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
}
.bt {
	width: 100%;
	border: 1px solid #ddd;
	float: left;
}
.bt img {
	width: 100%;
	height: 100%;
	padding: 5px;
	transition: all 0.5s linear;
}
.bt:hover img {
	transform: scale(1.4);
	border: 1px solid #ddd;
	padding: 5px;
}
